*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    position: absolute;
    top: 0;
    width: 100%;
}
.slide-container{
    width: 100%;
    height: 100vh;
}
.header-bg{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(../assets/9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 40000ms infinite ease-in-out;
    filter: brightness(80%); 
}
@keyframes change{
    0%
    {
        background-image: url(../assets/1\(1\).png);
    }
    10%
    {
        background-image: url(../assets/2\(1\).png);
    }
    20%
    {
        background-image: url(../assets/3\(1\).png);
    }
    30%
    {
        background-image: url(../assets/4.png);
    }
    40%
    {
        background-image: url(../assets/5.png);
    }
    50%
    {
        background-image: url(../assets/6.png);
    }
    60%
    {
        background-image: url(../assets/7.png);
    }
    70%
    {
        background-image: url(../assets/8.png);
    }
    80%
    {
        background-image: url(../assets/10.png);
    }
    90%{
        background-image: url(../assets/1\(1\).png);
    }
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

/*HEADER CONTENT*/
.st-middle, .st-top, .header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-btn button, .st-top p{
    text-transform: uppercase;
    color: #ffffff;
}
.st-top{
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.72px;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    margin-top: 1rem;
}

.header-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header-btn a{
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s all;
    overflow: hidden;
    margin: 0 1rem;
    z-index: 2;
    margin-top: 2rem;
    color: #fff;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
  }

  .header-btn a:before {
    border: 2px solid #ffffff;
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: -5vw;
    background: #fff;
    transition: .6s all;
    z-index: -1;
    transform: skew(45deg);
  }
  
  .header-btn button:hover {
    z-index: 2;
    font-weight: 800;
    color: #42180ab2;
  }
  
  .header-btn a:hover:before {
    z-index: -1;
    width: 180%;
  }

  .header-btn button {
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.36px;
    border: none;
    width: 140px;
    height: 35px;
    font-size: 14px;
    font-family: 'Catamaran', sans-serif;
    border: solid 1px #ffffff;
  }
  
.st-middle p{
    font-family: 'Bonheur Royale', cursive;
    color: #fff;
    font-size: 3.2rem;
}

@media (max-width: 350px) {
    .st-top p{
        font-size: 5vw;
    }
    .st-middle p{
        font-size: 14vw;
    }
    .header-btn a:before{
        left: -10vw;
    }
    .header-btn a{
        max-width: 135px;
        height: 35px;
        
    }
    .header-btn button{
        max-width: 135px;
        height: 35px;
        font-size: 13px;
    }

}
@media (max-width: 567px) and (min-width: 351px) {
    .st-middle p{
        font-size: 55px;
    }
}
@media (max-width: 669px){
    .header-content .booking{
        display: none;
    }
    .st-top{
        display: none;
    }
}
@media screen and (max-width: 991px)and (min-width: 568px){
    .st-middle p{
        font-size: 70px;
        width: 80%;
    }
}

@media (min-width: 992px) {
    .header-bg{
        height: 100vh;
    }
    .slide-container{
        height: 100vh;
    }
    .st-middle p{
        font-size: 100px;
        width: 80%;
        margin-top: 6rem;
    }
    .st-top{
        font-size: 25px;
    }
    .header-btn a{
        width: 160px;
        height: 43px;
        margin-top: 4rem;
    }
    .header-btn button{
        font-size: 15px;
        width: 160px;
        height: 60px;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}