*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-grid-container{
    display: grid;
    grid-template-areas: 
    "fimage"
    "htitle"
    "hdescription";
    margin-top: 4rem;
}
.header-grid-image{
    grid-area: fimage;
    display: flex;
    justify-content: center;
}

.header-grid-title{
    grid-area: htitle;
    font-family: 'Bonheur Royale', cursive;
    color: #532300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.header-grid-title h1{
    font-size: 45px;
}
.header-grid-description{
    text-align: left;
    grid-area: hdescription;
    margin: 1rem 0;
    font-family: 'Basekerville';
    letter-spacing: .8px;
}
.header-grid-description h3{
    font-weight: 500;
    color: rgb(62, 62, 62);
    font-size: 16px;
    line-height: 1.7;
}
.header-grid-description p{
    color: rgb(99, 99, 99);
    font-size: 14px;
    line-height: 1.5;
}
.header-grid-image img{
    width: 80%;
    margin-top: 2rem;
}

/* Menu Button */
.menu-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
  .menu-btn a{
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    transition: 0.3s all;
    overflow: hidden;
    margin: 0 1rem;
    z-index: 2;
    margin-top: 2rem;
    box-shadow: inset 0 0 0px 1px #532300;
  }

  .menu-btn button {
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 0.56px;
    width: 160px;
    height: 48px;
    font-size: 14px;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    color: #532300;
    border: none;
    cursor: pointer;
  }

  .menu-btn a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: -5vw;
    background: #532300;
    transition: .6s all;
    z-index: -1;
    transform: skew(45deg);
  }
  
  .menu-btn button:hover {
    z-index: 2;
    font-weight: 800;
    color: #fff;
  }
  
  .menu-btn a:hover:before {
    z-index: -1;
    width: 180%;
  }

.open-hours div{
    text-align: center;
}

.open-hours .dash::before{
    content: ' '; /* Unicode character for em dash (—) */
    display: inline-block;
    width: 50px; /* Adjust the width to control the length of the dash */
    height: 2px; /* Adjust the height to control the thickness of the dash */
    background-color: #000; /* Change #000 to the desired color of the dash */
    margin-bottom: 5px;
}

@media (max-width: 280px) {
    .header-grid-title h1{
        font-size: 15vw;
    }
    .header-grid-description h3{
        font-size: 5vw;
    }
    .header-grid-description p{
        font-size: 4vw;
    }
}
@media (max-width: 350px) {
    .menu-btn a:before{
        left: -10vw;
    }
    .menu-btn a{
        max-width: 135px;
        height: 35px;
        
    }
    .menu-btn button{
        max-width: 135px;
        height: 35px;
        font-size: 13px;
    }

}
@media (max-width: 628px){
    .header-grid-container{
        display: grid;
        grid-template-areas: 
        "htitle"
        "fimage"
        "hdescription";
    }
    .header-grid-image img{
        margin-top: 0;
    }
    .header-grid-title{
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 991px) {
    .header-grid-description{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header-grid-description h3{
        width: 80%;
    }
    .header-grid-description p{
        width: 80%;
    }
    .header-grid-title h1{
        width: 80%;
    }
    .header-grid-description{
        margin-top: 1rem;
    }
    .header-grid-description .sub-description{
        margin-top: 1.5rem;
    }
}
@media (min-width: 992px) {
    .header-grid-container{
        display: grid;
        grid-template-areas: 
        "fimage htitle"
        "fimage htitle"
        "fimage hdescription"
        "fimage hdescription";
        justify-content: center;
        padding: 0 2rem;
        width: 100%;
        grid-template-columns: 1fr 1fr; /* Adjust the column widths as needed */
    }
    .header-grid-image img{
        max-width: 70%;
        height: fit-content;
    }
    .header-grid-description{
        text-align: left;
        width: 85%;
        margin-bottom: 3rem;
    }
    .header-grid-description h3{
        font-size: 17px;
    }
    .header-grid-description .sub-description{
        margin-top: 1rem;
    }
    .header-grid-description p{
        font-size: 14px;
    }
    .header-grid-title h1{
        font-size: 60px;
    }
    .header-grid-title{
        width: 85%;
        display: flex;
        justify-content: center;
        height: fit-content;
        align-items: flex-end;
        height: auto;
    }

}
@media (min-width: 1300px){
    .header-grid-description p{
        font-size: 17px;
    }
    .header-grid-title h1{
        font-size: 70px;
    }
    .header-grid-description h3{
        font-size: 21px;
    }
}