*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-component{
    margin-top: 2rem;
}

.menu-container{
    width: 100%;
    height: auto;
    padding: 3rem 0;
}

.menu-title{
    font-family: 'Bonheur Royale', cursive;
    color: #35170C;
    font-size: 25px;
    justify-content: center;
    width: 80%;
    text-align: center;
    padding-bottom: 1rem;
}

.title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-category{
    display: grid;
    grid-template-areas: 
    "coffee"
    "food"
    "drinks"
    "desserts";
}

.category-container{
    min-height: 35vh;
    min-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
	cursor: pointer;
}

.food-menu{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.food-menu h1{
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 43%;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 2px;
}
.category-container:hover .food-menu, .category-container:focus .food-menu {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.category-container:hover .food-menu:before, .category-container:focus .food-menu:before {
    display: block;
}

.category-container:hover h1, .category-container:focus h1 {
    display: block;
}

.food-menu:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.383);
}

.coffee, .food, .drinks, .desserts{
    background-blend-mode: darken;
}

.coffee{
    background: rgba(0, 0, 0, 0.226) url(../assets/Coffee.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: coffee;
}


.food{
    background: rgba(0, 0, 0, 0.226)url(../assets/Pasta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: food;
}

.drinks{
    background: rgba(0, 0, 0, 0.226)url(../assets/Drinks\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: drinks;
}

.desserts{
    background: rgba(0, 0, 0, 0.226)url(../assets/Dessert.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: desserts;
}




@media (min-width: 600px) {
    .menu-category{
        grid-template-areas: 
        "coffee food"
        "drinks desserts";
        padding: 0 1.5rem;
    }
}

@media (min-width: 1200px) {
    .menu-category{
        grid-template-areas: 
        "coffee food drinks desserts";
        padding: 0 2rem;
    }
}