*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
/* Desktop Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 10vh;
  border-bottom: solid 1px #ffffff72;
  z-index: 9999;
}

.nav-menu{
  display: flex;
  align-items: center;
}
#menu, #menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

#menu li {
	display: inline-block;
	position: relative;
	-moz-transition: .8s all .3s;
	-webkit-transition: .8s all .3s;
	transition: .8s all .3s;
}

#menu ul li {
	display: inherit;
	-moz-transition: .5s all .3s;
	-webkit-transition: .5s all .3s;
	transition: .5s all .3s;
}

#menu ul {
	position: absolute;
	z-index: 1000;
	max-height: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	-moz-transition: .5s all .3s;
	-webkit-transition: .5s all .3s;
	transition: .5s all .3s;
}

#menu li:hover ul {
	max-height: 15em;
}

.sub-menu ul{
  background-color: #3A1600;
  width: 200px;
  position: absolute;
  top: 8.4vh;
}

#menu a {
	text-decoration: none;
	display: block;
	padding: 8px 25px;
	color: #ffffffdf;
	font-family: arial;
	cursor:  pointer;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700; 
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.125px;
}

#menu ul a {
	padding: 8px 0;
}

.sub-menu {
  position: relative;
  display: inline-block;
  transition: 0.3s all;
} 

.sub-menu a{
  position: relative;
}

.sub-menu::before{
  content: "";
  position: absolute;
  height: 0%;
  transition: .6s all;
  top: 100%;
  bottom: 0;
  left: 50%; 
  border-left: 1px solid #fff; 
  transform: skew(180deg); 
}

.sub-menu:hover::before{
  height: 80%;
  top: 5vh;
  bottom: 0;
}

.sub-menu a.active::after{
  content: "";
  position: absolute;
  top: 5vh;
  bottom: 0;
  left: 50%; 
  border-left: 1px solid #fff; 
  height: 27px;
}

#sub-links a{
  color: #fff;
}

#sub-links a:hover{
  color: #3A1600;
  background-color: #fff;
}

/* Logo */
.navbar img {
  width: 100px;
  cursor: pointer;
  padding: 10px;
}

.navbar .logo-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hamburger Menu -- for smaller devices */
.hamburger-menu {
  height: max-content;
  width: 100vw;
  background-color: #733b18;
  z-index: 8888;
  position: fixed;
  top: -100vh;
  transition: top 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50);
}

.hamburger-menu.open {
  top: 10vh;
}

.hamburger-toggle {
  color: #42180A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger-menu ul a {
  text-decoration: none;
  color: #fff;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.hamburger-menu ul li{
  margin-bottom: 20px;
}

.hamburger-menu ul{
  padding: 2rem 0 1rem 2rem;
  height: 100%;
}

/* To make the body unscrollable when menu is open */
body.curtain {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* To lower the brightness of the body when menu is open */
.dark-overlay {
  background: rgba(0, 0, 0, 0.481);
  pointer-events: none;
  width: 100vw;
  top: 10vh;
  height: 90vh;
  z-index: 999;
  position: absolute;
}

/* Small Devices Styles */
@media (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .navbar {
    border: none;
    backdrop-filter: blur(5px); 
    background: #ffffff;
  }
}

/* Desktop Styles */
@media (min-width: 768px) {
  .hamburger-toggle {
    display: none;
  }
  .navbar {
    padding: 0 4rem;
    height: 12vh;
  }
  .hamburger-menu {
    display: none;
  }
  /* removes the background effect on bigger devices */
  .dark-overlay{
    display: none;
  }
}

@media (min-width: 1200px){
  #menu a{
    padding: 8px 52px;
  }
}