*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 10vh;
    border-bottom: solid 1px #ffffff6c;
    z-index: 9999;
}
.navbar img{
    width: 100px;
    cursor: pointer;
    padding: 10px;
}
.logo-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger-toggle{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    text-transform: uppercase;
}
.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.nav-menu li{
    list-style: none;
    margin: 0 2rem;
    color: #fff;
    font-size: 14px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    letter-spacing: 1.125px;
    cursor: pointer;
}
.nav-menu a{
    text-decoration: none;
}
@media (min-width: 768px) {
    .hamburger-toggle{
        display: none;
    }
    .navbar{
        padding: 0 4rem;
    }
}
@media (max-width: 767px){
    .nav-menu{
        display: none;
    }
}