/* Add appropriate styling for the slider container and items */
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.slider-item {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

.slider-item.active {
  display: block;
  opacity: 1;
}

.review-holder{
  cursor: none;
}

.review-text-holder{
 display: flex;
 justify-content: center;
 cursor: none;
}

.review-text {
  font-size: 20px;
  font-weight: 600;
  color: #3A1600;
  /* width: 80%; */
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.author {
  font-size: 18px;
  color: #3a1600c4;
  font-weight: bold;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  cursor: none;
}

.slide-control div{
  cursor: pointer;
}
.slide-control{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #3A1600;
}

.agent-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#agent {
  width: 200px;
}

#agent img {
  mask: url('https://res.cloudinary.com/dk3aalcb0/image/upload/v1690436607/blob_urftxy.svg');
  mask-size: 100%;
  mask-repeat: no-repeat;
  /* border-radius: 100%; */
  width: 100%;
  height: 200px; /* Set the desired height here */
  object-fit: cover; /* Ensure the image fills the container while maintaining aspect ratio */
}

@media (max-width: 500px){
  .slide-control-icon{
    display: none;
  }
}

@media (min-width: 768px){
  .review-text{
    width: 80%;
  }
}

@media (min-width: 992px){
  .review-text{
    width: 75%;
  }
  .slide-control-icon{
    margin: 0 1rem;
  }
}

@media (min-width: 1200px){
  .review-text{
    width: 60%;
  }
  .review-holder{
    margin-top: 3rem;
  }
  
}

