*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about-header{
    background: rgba(0, 0, 0, 0.528) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690781631/Cafe%20Lumiere/cafe-gb15209a6d_1920_grf9a0.jpg);
    background-blend-mode: darken;
    height: 100vh;
}

.about-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.about-title p{
    color: #fff;
    font-family: 'Bonheur Royale', cursive;
    font-size: 100px;
    letter-spacing: .05em;
}