*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-nav{
    position: absolute;
    width: 100%;
}

#about{
    background: rgba(0, 0, 0, 0.257) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691057001/Cafe%20Lumiere/coffee-3759005_mlcioi.jpg);
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Bonheur Royale', cursive;
    letter-spacing: .05em;
}

.a-hder-con{
    display: grid;
    gap: 2rem;
}

.a-hder-items{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-right-header{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1692959099/Cafe%20Lumiere/restaurant-4011989_robuk1.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px){
    .a-hder-con{
        padding: 2rem 4rem;
    }
    .a-left-header {
        grid-column: 1;
    }
    .a-right-header {
        grid-column: 2;
    }
}
