*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-nav{
    position: absolute;
    width: 100%;
}

#about{
    background: rgba(0, 0, 0, 0.257) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691057001/Cafe%20Lumiere/coffee-3759005_mlcioi.jpg);
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Bonheur Royale';
    letter-spacing: .05em;
}

.a-hder-con{
    display: grid;
}

.a-hder-items{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 1rem 0;
}

.a-right-header{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1692959099/Cafe%20Lumiere/restaurant-4011989_robuk1.jpg);
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.a-left-header2{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1693062189/Cafe%20Lumiere/people-2561634_1280_a0cnab.jpg);
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;

}

.a-left-header, .a-right-header2{
    display: flex;
    flex-direction: column;
}

.a-header-title{
    font-family: 'Bonheur Royale', cursive;
    color: #532300;
    width: 100%;
    text-align: center;
}

.a-header-sub{
    margin: 1rem 0;
}

.a-header-des{
    width: 90%;
}

.a-header3{
    text-align: center;
    margin: 4rem 0;
}

.bgrcon{
    display: grid;
    gap: 3rem;
}

.pick-description{
    display: flex;
    justify-content: center;
}

.pick-item p{
    width: 65%;
}

.pick-item h4{
    font-size: 25px;
    margin: 1rem 0;
}

.a-header3 h1{
    margin: 1rem 0;
}

.pick-item h4, .a-header3 h1{
    font-family: 'Basekerville';
    font-weight: 500;
    color: #532300;
}

.ah3des p{
    font-size: 20px;
    color: rgb(99, 99, 99);
}

.ah3des{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.pick-container{
    min-height: 35vh;
    min-width: 70%;
    margin: 2rem;
    overflow: hidden;
    position: relative;
	cursor: pointer;
}

.about-menu{
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.vegan{
    background: rgba(0, 0, 0, 0.162) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1693115963/Cafe%20Lumiere/soup-2006317_1280_uoj3fp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cocktails{
    background: rgba(0, 0, 0, 0.162) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1693115963/Cafe%20Lumiere/drink-4188629_1920_fz8r8a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.delicacies{
    background: rgba(0, 0, 0, 0.162) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1693115963/Cafe%20Lumiere/food-3148755_1920_c0zn1z.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



@media (min-width: 768px){
    .a-hder-items{
        margin: 4rem 0;
    }
    .a-hder-con{
        padding: 2rem 4rem;
        margin-top: 2rem;
        grid-template-columns: 100vw, 1fr;
    }
    .a-left-header {
        grid-column: 1;
    }
    .a-right-header {
        grid-column: 2;
        width: 90%;
        display: flex;
        justify-self: center;
    }
    .a-right-header2{
        grid-row: 2;
        grid-column: 2;
    }
    .a-left-header2{
        grid-row: 2;
        grid-column: 1;
        width: 90%;
        display: flex;
        justify-self: center;
    }
    .best-one{
        grid-column: 1;
    }
    .best-two{
        grid-column: 2;
    }
    .best-three{
        grid-column: 3;
    }
    .pick-item p{
        width: 70%;
    }
    .a-header3{
        grid-row: 3;
        grid-column: span 2;
    }
    .ah3des p{
        width: 40%;
    }
    .a-header3 h1{
        font-size: 40px;
    }

}

@media (min-width: 1200px){
    .a-left-header .a-header-des{
        width: 80%;
    }
}
