*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.blogs-nav{
    position: absolute;
    width: 100%;
    background: #3A1600;
    height: 12vh;
}

.blogs-header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15vh;
    font-family: 'Catamaran', sans-serif;
}

.blogs-header h1{
    font-weight: 500;
    color: #3A1600;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    width: 90%;
}

.blog-description p, .blog-posted{
    color: #000000a5;
    font-size: larger;
}

.blogs-container{
    gap: 1rem;
    display: grid;
    width: 100%;
    height: auto;
}

.blogs{
    text-align: center;
    padding: 20px;
    border-bottom: solid 1px #3A1600;
    padding-top: 3rem;
}

.blog-title, .blog-posted{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.blog-posted{
    margin-top: 2.5rem;
}

.blog-description{
    display: flex;
    justify-content: center;
}

.blog-description{
    margin-top: 1rem;
}

.blogs-img{
    width: 100%;
    height: 50vh;
}

.just-center{
    display: flex;
    justify-content: center;
}

.chronicles-img{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691368696/Cafe%20Lumiere/turkish-coffee-1021286_1920_cfrh4e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.delights-img{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691368924/Cafe%20Lumiere/bread-1284438_1280_wg5w6y.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.culture-img{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691369052/Cafe%20Lumiere/tee-1740871_1280_twqbvs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.temptations-img{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691369279/Cafe%20Lumiere/cake-1284548_1280_powrs4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bliss-img{
    background: rgba(56, 25, 0, 0.22) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691374842/Cafe%20Lumiere/coffee-5712775_1920_lda89s.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
}

.blogs-header a{
    text-decoration: none;
}

@media (max-width: 767px){
    .blogs-nav{
        height: 10vh;
    }
}
@media (min-width: 768px){
    .blogs-img{
        max-width: 80%;
        height: 80vh;
    }
    .blogs-container{
        padding: 3rem;
    }
}

@media (min-width: 1200px){
    .blogs-header h1{
        width: 50%;
        font-size: 45px;
    }

    .blogs-header p{
        width: 50%;
    }
}