*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blogs-nav{
    position: absolute;
    width: 100%;
    background: #3A1600;
    height: 12vh;
}

.blogs-header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15vh;
    font-family: 'Catamaran', sans-serif;
}

.blogs-header h1{
    font-weight: 500;
}

.blog-description p{
    color: #000000bc;
    font-size: larger;
}

.blogs-container{
    display: grid;
    gap: 1rem;
    padding: 3rem;
    width: 100%;
    height: auto;
    grid-template-columns: 30% auto auto 30%;
}

.blogs{
    text-align: center;
    padding: 20px;
}

.chronicles{
    grid-column: 1;
    grid-row: 1;
}

.bliss {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}

.delights{
    grid-column: 4;
    grid-row: 1;
}

.blog-title{
    margin-top: 2rem;
}

.blog-description{
    margin-top: 1rem;
}

.blogs-img{
    width: auto;
    height: 30vh;
}

.chronicles-img{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691368696/Cafe%20Lumiere/turkish-coffee-1021286_1920_cfrh4e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.delights-img{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691368924/Cafe%20Lumiere/bread-1284438_1280_wg5w6y.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.culture-img{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691369052/Cafe%20Lumiere/tee-1740871_1280_twqbvs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.temptations-img{
    background: url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691369279/Cafe%20Lumiere/cake-1284548_1280_powrs4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bliss-img{
    background: rgba(56, 25, 0, 0.22) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691374842/Cafe%20Lumiere/coffee-5712775_1920_lda89s.jpg);
    width: auto;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
}


/* .bliss {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.temptations {
    grid-column: 1 / span 3;
    grid-row: 3;
} */


