input, select{
    border: none;
}

option{
    background: #42180A;
    border: none;
}

.booking-wrapper{
   display: grid;
}

.booking-itm{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.booking h3{
    font-weight: 400;
    font-size: 25px;
}
@media (min-width: 568px){
    .booking-date {
        grid-column: 2;
    }
    
    .time-picker{
        grid-row: 2;
        grid-column: 1;
    }
}

@media (min-width: 992px){
    .booking-date {
        grid-column: 2;
    }
    
    .time-picker{
        grid-row: 1;
        grid-column: 3;
    }
    .book{
        grid-column: 4;
        grid-row: 1;
    }
    
}