.contactus-nav{
    position: absolute;
    width: 100%;
}

.contactus-header{
    background: rgba(0, 0, 0, 0.361) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691662292/Cafe%20Lumiere/city-4298285_1920_gddfu9.jpg);
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Bonheur Royale', cursive;
    font-size: 120px;
    letter-spacing: .05em;
}

.contactus-container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form span{
    color: rgb(255, 96, 96);
}

.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
}

textarea{
    width: 90%;
}

.form-btn{
    display: flex;
    justify-content: center;
}

form button{
    width: 20%;
}

@media (max-width: 767px){
    .contactus-nav{
        height: 10vh;
    }
}

@media (min-width: 768px){
    .form-item{
        flex-direction: row;
    }
    label{
        width: 10rem;
    }
}