.contactus-nav{
    position: absolute;
    width: 100%;
}

.contactus-header{
    background: rgba(0, 0, 0, 0.456) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1691662292/Cafe%20Lumiere/city-4298285_1920_gddfu9.jpg);
    background-blend-mode: darken;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.contactus-content{
    margin-top: 3rem;
}

.contactus-booking{
    color: #42180A;
    display: flex;
    justify-content: center;
}


.contact-info{
    display: flex;
    justify-content: row;
}


.contact-info p{
    text-align: left;
    width: 12rem;
}

.contactus-header h3{
    margin-bottom: 2.5rem;
}

.contactus-header h1{
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    width: 70%;
    text-align: center;
    padding-top: 5rem;
}

.htk{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    margin-bottom: 1.5rem;
}

.booking-container{
    width: 100%;
}

.contact-info{
    display: flex;
    justify-content: space-evenly;
}

.contact-details{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #42180A;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.contact-details h3{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 2rem;
}

.cnt{
    display: grid;
    padding-top: 4rem;
}

.contact-wrapper{
    grid-row: 1;

}

.map{
    grid-row: 2;

}



.cft{
    padding-left: 15px;
}



@media (max-width: 350px){
    .contact-details h3, .booking h3{
        font-size: 7vw;
    }
    .contact-details h4{
        font-size: 4vw;
    }
    .contact-details p{
        font-size: 4vw;
    }
    .map{
        width: fit-content;
    }
    .details{
        overflow-x: hidden;
    }
    
}

@media (max-width: 767px){
    .contactus-nav{
        height: 10vh;
    }

}

@media (min-width: 768px){
    .form-item{
        flex-direction: row;
    }
    label{
        width: 10rem;
    }
    .contact-details{
        padding: 2rem 3rem;
        width: 80%;
    }
    .contactus-header h1{
        font-size: 50px;
    }
    .contact-wrapper{
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: right;
    }
    
    .map{
        grid-column: 2;
        grid-row: 1;
        justify-content: left;
    }
    .gmap-wrapper{
        width: 80%;
    }
    .contact-details h3{
        margin-top: 1rem;
    }
}

@media(min-width: 992px){
    .contactus-content{
        flex-direction: row;
    }
}


