/* CustomSelect.css */
.custom-select-container {
    position: relative;
    width: 10rem; /* Set the desired width */
    font-family: 'Catamaran', sans-serif;
    z-index: 9999;
  }

  .time-select-container {
    position: relative;
    width: 10rem; /* Set the desired width */
    font-family: 'Catamaran', sans-serif;
    z-index: 999;
  }
  
  .selected-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    cursor: pointer;
    border-bottom: solid 1px #42180A;
  }
  
  .arrow {
    display: none;
  }
  

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #42180A;
    color: #f5f5fa;
    border:none;
    border-top: none;
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #f5f5fa;
    color: #42180A;
  }
  
  .selected {
    background-color: #ffffffcf;
    color: #42180A;
  }
  
  /* Add this CSS to your customdropdown.css file */
.option-list {
  max-height: 200px; /* Set the maximum height for the list */
  overflow-y: auto; /* Enable vertical scrolling when the list overflows */
}
@media (min-width: 568px) {
  .custom-select-container, .time-select-container {
    min-width: 30vw;
  }
}

@media (min-width: 992px) {
  .custom-select-container, .time-select-container {
    min-width: 15vw;
  }
}
/* @media (max-width: 767px) {
  .custom-select-container, .time-select-container {
    width: 100%;
  }
} */
@media (min-width: 1200px) {
  .custom-select-container, .time-select-container {
    min-width: 18vw;
  }
  
}