* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: center;
    background: #3A1600;
    color: #fff;
    margin-top: 8vh;
    padding-top: 15vh;
    font-family: 'Catamaran', sans-serif;
}

.footer-item h1{
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 1rem;
    font-weight: 500;
}

.footer-wrapper {
    width: 80%;
}

.footer-item{
    margin: 3vw 0;
}

.footer-holder{
    display: flex;
    flex-direction: column;
}  


.footer-holder a, .copyright a, .footer-holder p, .bottom-footer p{
    text-decoration: none;
    color: #ffffffd4;
}


.footer-holder a:hover, .copyright a:hover{
    color: #fff;
}

.footer-holder a{
    letter-spacing: .08em;
}

.footer-item h1{
    font-size: 22px;
}
.footer-holder a, .footer-holder p {
    font-size: 16px;
}

.footer-holder li {
    list-style: none;
}

.open-hours .dash::before {
    content: ' '; /* Unicode character for em dash (—) */
    display: inline-block;
    width: 5vw; /* Adjust the width to control the length of the dash */
    height: 1px; /* Adjust the height to control the thickness of the dash */
    background-color: #ffffff84; /* Change #000 to the desired color of the dash */
    margin-bottom: 5px;
    margin-right: 5px;
}

.footer-logo img {
    width: 150px;
}

.footer-item{
    margin-bottom: 2rem;
}

.bottom-footer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.copyright span{
    text-transform: capitalize;
}

.copyright a{
    text-transform: uppercase;
}


@media  (min-width: 350px){
    .open-hours .dash::before{
        min-width: 30%;
    }

    .open-hours{
        white-space: nowrap;
    }
}

/* Media query for devices with a minimum width of 700px */
@media  (min-width: 440px) and (max-width: 699px){
    .open-hours .dash::before{
        min-width: 45%;
    }

    .open-hours{
        white-space: nowrap;
    }
}
@media (min-width: 700px) {
    .footer-wrapper{
        width: 90%;
    }

    .footer-holder{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-left{
        flex: 50%;
    }

    .footer-right{
        flex: 50%;
    }

    .footer-item{
        width: 100%;
        height: fit-content;
    }
    .footer-item h1{
        font-size: 23px;
    }
    .footer-holder a, .footer-holder p {
        font-size: 16px;
    }
}

@media (min-width: 1068px){

    .footer-left, .footer-right{
        display: flex;
        flex-direction: row;
    }

    .open-hours .dash::before {
        min-width: 5vw;
        margin-right: 5px;
    }

    .footer-logo img{
        min-width: 12vw;
    }

    .footer-item h1{
        font-size: 2.1vw;
    }
    .footer-holder a, .footer-holder p {
        font-size: 1.4vw;
    }

}

@media (min-width: 1400px){
    .footer-item h1{
        font-size: 1.6vw;
    }
    .footer-holder a, .footer-holder p {
        font-size: 1.2vw;
    }
}
