*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-hours .dash::before{
    content: ' '; /* Unicode character for em dash (—) */
    display: inline-block;
    width: 50px; /* Adjust the width to control the length of the dash */
    height: 2px; /* Adjust the height to control the thickness of the dash */
    background-color: #000; /* Change #000 to the desired color of the dash */
    margin-bottom: 5px;
}
