*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 10vh;
}

.image-container{
    display: none;
}

.gallery-holder {
    flex: 1 1 100%;
    max-width: 90%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.gallery {
    width: 100%;
    height: 30vh;
    background-blend-mode: hard-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.gallery-holder:hover .gallery, .gallery-holder:focus .gallery{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery-holder:hover .gallery:before, .gallery-holder:focus .gallery:before {
    display: block;
}

.gallery:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.gallery1{
    background: rgba(77, 46, 0, 0.299) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690529609/Cafe%20Lumiere/6_zgctye.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery2{
    background: rgba(77, 46, 0, 0.299) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690529609/Cafe%20Lumiere/5_ak2ipi.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery3{
    background: rgba(77, 0, 0, 0.237) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690618283/Cafe%20Lumiere/cafe-g84c12c358_1920_psudmt.jpg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery4{
    background: rgba(77, 36, 0, 0.246) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690529609/Cafe%20Lumiere/1_d5pfny.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery5{
    background: rgba(77, 0, 0, 0.299) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690529611/Cafe%20Lumiere/4_ivg736.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery6{
    background: rgba(77, 36, 0, 0.29) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690618283/Cafe%20Lumiere/starbucks-g94c482e9d_1280_y1fjha.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery7{
    background: rgba(77, 36, 0, 0.818) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690618283/Cafe%20Lumiere/pancakes-g4de404f00_1280_me7de0.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery8{
    background: rgba(80, 37, 1, 0.242) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690617728/Cafe%20Lumiere/coffee-gd5c859014_1280_ywjfoa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery9{
    background: rgba(77, 36, 0, 0.601) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690617728/Cafe%20Lumiere/breakfast-g99068f614_1280_rlbpmb.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




@media (min-width: 500px) {
    .gallery-holder {
        flex-basis: calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
}

@media (min-width: 768px) {
    .gallery-holder {
        flex-basis: calc(33.3333% - 2rem);
        max-width: calc(33.3333% - 2rem);
    }
    .gallery{
        height: 40vh;
    }
}