*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-nav{
    position: absolute;
    width: 100%;
}

.menu-header{
    background: rgba(0, 0, 0, 0.421) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1690781631/Cafe%20Lumiere/cafe-gb15209a6d_1920_grf9a0.jpg);
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Bonheur Royale', cursive;
    font-size: 120px;
    letter-spacing: .05em;
}

.menu-title-wrapper{
    display: flex;
    justify-content: center;
}

.coffee-title{
    background: rgba(0, 0, 0, 0.243) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1693811023/Cafe%20Lumiere/kohi_1_eb6tjo.png);
}

.food-title{
    background: rgba(0, 0, 0, 0.243) url(https://res.cloudinary.com/dk3aalcb0/image/upload/v1693823084/Cafe%20Lumiere/kohi_6_wf9xeg.png);
}

.menu-bhd{
    width: 80%;
    height: 40vh;
    display: flex;
    align-items: center;
    margin: 3rem 0;
    background-blend-mode: darken; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-bhd h1{
    color: #fff;
    font-size: 50px;
}

.menu-grid-container{
    display: grid;
}

.menu-top{
    padding-top: 10vh;
}

.cof .blogs-nav{
    margin-bottom: 10vh;
}

@media (min-width: 768px) {
    .menu-top{
        padding-top: 12vh;
        
    }
    .menu-grid-container{
        gap: 4rem;
    }
    .top-grid{
        grid-column: 1;
    }
    .bottom-grid{
        grid-column: 2;
        grid-row: 1;
    }
    .menu-grid-container{
        padding: 0 10%;
    }

}