.tmenu-con{
    margin-top: 3rem;
}

.tmenu-title{
    padding: 2rem 0;
    text-align: center;
}

.tmenu-wrapper{
    display: grid;
}

.menu-list ul{
    display: flex;
    justify-content: center;
}

.tmenu-title li{
    list-style: none;
    color: #000000;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tmdash::before{
    content: ' '; /* Unicode character for em dash (—) */
    display: inline-block;
    width: 10vw; /* Adjust the width to control the length of the dash */
    height: 1px; /* Adjust the height to control the thickness of the dash */
    background-color: #000000; /* Change #000 to the desired color of the dash */
    margin: 5px;
}

.tmenu-title h4{
    font-size: 20px;
    font-weight: lighter;
    color: #3A1600;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 1rem;
}

.tmenu{
    display: flex;
    justify-self: end;
}


.tmenu img{
    width: 90%;
    height: 100%;
    object-fit: cover; /* Crop the image to cover the container */
    object-position: center;
}

.tmenu-img1{
    grid-row: 1;
}

.tmenu-title1{
    grid-row: 2;
}

.tmenu-img2{
    grid-row: 3;
}

.tmenu-title2{
    grid-row: 4;
}

.tmenu-img3{
    grid-row: 5;
}

.tmenu-title3{
    grid-row: 6;
}

@media (max-width: 360px){
    .tmenu-title li{
        font-size: 4vw;
    }
}

@media (min-width: 768px) {
    .tmenu-title {
        padding: 0;
        margin: 0;
        padding-left: 4rem;
        text-align: left;
    }
    .tmenu{
        width: 500px;
        height: 450px;
        overflow: hidden;
    }
    .tmenu img{
        width: 100%;
    }
    .tmenu-img1, .tmenu-img3{
        display: flex;
        justify-self: end;
    }
    .tmenu-wrapper{
        margin-bottom: 8rem;
    }
    .tmenu-wrapper1{
        margin-top: 4rem;
    }
    .tmenu-img1, .tmenu-img3{
        grid-column: 1;
        grid-row: 1;
    }
    .tmenu-title1, .tmenu-title3{
        grid-column: 2;
        grid-row: 1;
    }
    .tmenu-img2{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-self: start;
    }
    .tmenu-title2{
        grid-column: 1;
        grid-row: 2;
        padding-left: 5rem;
    }
    .tmenu, .tmenu-title {
        width: 45vw;
    }
    .tmenu-title h4{
        font-size: 40px;
        margin-bottom: 3rem;
    }
    .tmenu-title li{
        font-size: 18px;
        margin: 1rem 0;
        justify-content: left;
    }
    .tmdash::before{
        width: 10vw;
    }

}

@media (min-width: 1200px){
    .tmdash::before{
        width: 22vw;
    }
}